body {
  font-family: 'Poppins', sans-serif;
}

/* Grid CSS */

#heroGrid { 

margin:0px 5%;
display: grid;
min-height: 500px;
height: 70vh;
display: grid;
grid-template-rows:75% 25%;
grid-template-columns:75% 25%;
grid-template-areas:
"featureProduct" "secondaryProduct"
"featureProduct" "CTA";
}

#featuredProduct{
  grid-area: "featureProduct";
  background-image: url(https://i.pinimg.com/736x/48/da/53/48da53cd06de20ffc5d4a2355559864c--chesterfield-couch-tufted-couch.jpg);
}

#secondaryProduct{
  grid-area: "secondaryProduct";
  background-image: url(https://www.refinery29.com/images/10826698.png) ;
}  

#CTA{
  grid-area: "CTA";
  background-image: url(https://cdn.pixabay.com/photo/2016/09/28/13/56/wood-1700562_960_720.jpg) ;
  justify-content: space-around;
  cursor: pointer;

}

.heroGridArea{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
}


/* Category Grid CSS */




/* Navigation CSS */

/* CHECK OUT THIS CODE BELOW IF YOU WANT TO GET A REFRESHER ON FLEX */
#navBar {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}
#navBar h1 {
  width: 25%;
  font-weight: 500;
}
#navigation {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
}
#navigation p {
  cursor: pointer;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 25%;
}
.icons img {
  margin: 15px;
  cursor: pointer;
}
.highlight {
  color: #FF6200;
  font-weight: 700;
}

/* Typography CSS */

h2 {
  font-size: 60px;
  margin: 0px 0px;
  color: #FF6200;
}

h3 {
  font-size: 32px;
  font-weight: 300;
  margin: 0px 0px;
}

h4 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}


#headline p {
  max-width: 350px;
  font-size: 16px;
  font-weight: 300;
  margin: 0px 0px;
  color: #636364;
  border-bottom: 5px solid #FF6200;
  background-color: rgba(255,255,255,0.8);

}

#headline p{
  position: absolute;
  top: 50;
  right: 100;
  padding-top: 35px;
  padding-right: 30px;
  padding-left: 80px;
}

#subHeading{
  text-align: center;
  border-bottom: 2px solid black;
  width: 300px;
  margin: 50px auto;
}

#categoryGrid{
  margin: 0px 5%;
  display: grid;
  grid-template-rows:  300px; 
  grid-template-columns:1fr 1fr 1fr ;
  grid-template-areas: 
  "bookcases" "bedroom" "patio"
  "couches" "couches" "patio"
  "desk" "desk" "desk";
}

#bookcases{
  background-image: url(https://www.gomodern.co.uk/var/images/product/1200.863/GM-WALL-03-1-large.jpg)
}

#bedroom{
background-image: url(https://assets.pbimgs.com/pbimgs/ab/images/dp/wcm/202209/0842/brooklyn-storage-platform-bed-headboard-z.jpg);
}

#patio {
  background-image: url(https://www.ikea.com/ext/ingkadam/m/59829cfc14bb17ed/original/PH183994.jpg?f=s);

}

#couches {
background-image: url(https://secure.img1-fg.wfcdn.com/im/46229999/resize-h600-w600%5Ecompr-r85/1419/141980869/Twin+66.1%27%27+Wide+Tufted+Back+Convertible+Sofa.jpg);
}

#desk {
  background-image: url(https://imgix.lifehacker.com.au/content/uploads/sites/4/2022/02/21/desks-copy.png?ar=16%3A9&auto=format&fit=crop&q=80&w=1280&nr=20);
}

#categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

#heading{ 
  background-color:rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-bottom: 5px solid #FF6200;
}